.all-products_title {
  @include font-oswald ();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.all-products_tagline {
  @include font-arial ();
  font-size: 12px;
  line-height: 16px;
}

.all-products__button {
  cursor: pointer;
  background-color: $color-dirty-grey;
  border: none;
  padding: 20px 94px 20px 94px;
  @include font-oswald ();
  font-size: 16px;
  line-height: 0px;
  text-transform: uppercase;
}
