.catalog-pro {
  position: relative;
  margin-bottom: 27px;
  background-color: $color-dirty-grey;
  border: 1px solid transparent;

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;
    display: inline-block;
    content: "";
    background-color: $color-green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    top: 35px;
    left: 12px;
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 67px;
    height: 28px;
  }

  @include taplet-up () {
    margin-bottom: 45px;

    &::before {
      position: absolute;
      top: 92px;
      left: 513px;
      display: inline-block;
      content: "";
      background-color: $color-green;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      top: 135px;
      left: 480px;
      content: "";
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      display: inline-block;
      width: 268px;
      height: 112px;
    }
  }

  @include desktop-up {
    flex-grow: 1;
    padding: 0 51px;
    margin-bottom: 71px;

    &::before {
      position: absolute;
      top: 47px;
      left: 52px;
      display: inline-block;
      content: "";
      background-color: $color-green;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      top: 67px;
      left: 32px;
      content: "";
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      display: inline-block;
      width: 134px;
      height: 56px;
    }
  }
}

.catalog-pro__title {
  @include font-oswald ();
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 91px;


  @include taplet-up {
    margin-top: 77px;
    margin-left: 53px;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop-up {
    margin-top: 77px;
    margin-left: 214px;
    margin-bottom: 73px;
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-pro__describe {
  @include font-arial ();
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $color-grey;
  border-bottom: 1px solid $color-border-light;
  padding-bottom: 23px;

  @include taplet-up () {
    max-width: 342px;
    margin-top: 0;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
    border: none;
  }

  @include desktop-up {
    max-width: 477px;
    margin-bottom: 27px;
  }
}

.catalog-pro__link {
  @include font-oswald ();
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 18px;
  margin-left: 19px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-black;
  text-decoration: none;

  &::after {
    content: "";
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 12px;
    margin-left: 15px;
  }

  @include taplet-up () {
    margin: 0;
    margin-left: 52px;
    margin-right: 25px;
    margin-bottom: 57px;
    font-size: 20px;
    line-height: 30px;
  }

  @include desktop-up {
    margin: 0;
    margin-bottom: 52px;
  }
}
