.fieldset-collback__title {
  @include font-oswald ();
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black;
}

.fieldset-collback__list-for-cat,
.fieldset-collback___list-for-program {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $color-border-light;
  padding-bottom: 22px;
}

.fieldset-collback__item-for-cat,
.fieldset-collback__item-for-program {
  margin-top: 10px;
}

.fieldset-collback__label-for-cat,
.fieldset-collback__label-for-program {
  @include font-oswald ();
  font-size: 16px;
  line-height: 18px;
  color: $color-black;
  text-transform: uppercase;
}

.fieldset-collback__input-for-cat {
  width: 229px;
  height: 45px;
  margin-left: 13px;
  padding-left: 16px;
  border: 1px solid $color-border-grey;
  box-sizing: border-box;
}

.fieldset-collback__input-for-program {
  margin-right: 16px;
}
