.social-list {
  list-style: none;
}

.social-list__item {
  margin-top: 10px;
}

.social-list__vk {
  text-decoration: none;
  &::after {
    content: "";
    width: 23px;
    height: 16px;
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.social-list__inst {
  text-decoration: none;
  &::after {
    content: "";
    width: 23px;
    height: 16px;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.social-list__fb {
  text-decoration: none;
  &::after {
    content: "";
    width: 23px;
    height: 16px;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    display: inline-block;
  }
}
