.footer__contacts-title {
  font-family: Oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}

.footer__contacts-addres {
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.footer__contacts-iframe {
  border: none;
}


