.form__fieldset {
  border: none;
}

.form__button {
  @include font-oswald ();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-green;
  border: none;
  padding-top: 7px;
  padding-right: 44px;
  padding-bottom: 7px;
  padding-left: 44px;
  margin-bottom: 21px;
}

.form__warning {
  @include font-oswald ();
  font-size: 14px;
  line-height: 16px;
}

.additional-products-offer {
  background-image: url("../img/icon-gift.svg"), url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 78px 80px, 280px 289px;
  height: 289px;
  background-position: 95px 32px, 0;
}

.additional-products-offer__describe {
  @include font-arial ();
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
}
