.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include taplet-up () {
    display: flex;
    flex-direction: row;
  }

  @include desktop-up {
    position: absolute;
    top: 2px;
    width: 1380px;
    z-index: 3;
  }
}

.header__block {
  padding: 0 auto;
  width: 320px;
  height: 52px;
}

.header__block-img {
  width: 189px;
  margin-top: -3px;

  @include taplet-up () {
    width: 185px;
    margin-top: 16px;
    margin-left: -3px;
  }

  @include desktop-up {
    width: 200px;
    margin-top: 31px;
    margin-left: 81px;
  }
}
