@mixin font-oswald () {
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin font-arial () {
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin taplet-up {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: 1440px) {
    @content;
  }
}
