@mixin font-oswald () {
  font-family: Oswald , sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin font-arial () {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
